@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

@*<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>425.555.0100</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>425.555.0199</span>
    </p>
</section>*@

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Ant&oacute;nio Silva:</span>
        <span><a href="mailto:pg25307@alunos.uminho.pt">pg25307@alunos.uminho.pt</a></span>
    </p>
    <p>
        <span class="label">Marcos Magalh&atilde;es:</span>
        <span><a href="mailto:pg26131@alunos.uminho.pt">pg26131@alunos.uminho.pt</a></span>
    </p>
     <p>
        <span class="label">Lu&iacute;s S&aacute;:</span>
        <span><a href="mailto:a52827@alunos.uminho.pt">a52827@alunos.uminho.pt</a></span>
    </p>
    <p>
        <span class="label">Nuno Salvador:</span>
        <span><a href="mailto:pg25284@alunos.uminho.pt">pg25284@alunos.uminho.pt</a></span>
    </p>
</section>

@*<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p>
</section>*@